@using PostOffice.ViewModels

@model SectionViewModel

<tr data-id="@Model.Id">
	<td>@Model.RowNumber</td>
	<td>@Model.AddressCount</td>
	<td>@Model.SubscriptionCount</td>
	<td>@Model.SubscriberCount</td>
	<td>
		<select asp-for="@Model.AppointmentPostman" class="btn btn-outline-light">
			@if(Model.AppointmentPostman == null){
				<option disabled="disabled" selected>Не обслуживается</option>
			}
			@foreach(var item in Model.Postmans)
			{
				if(Model.AppointmentPostman != null && item.Id == Model.AppointmentPostman.Id){
					<option value="@item.Id" selected>@item.FullName</option>
				}
				else{
					<option value="@item.Id">@item.FullName</option>
				}
			}
		</select>
	</td>
</tr>